.category-img{
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    width: 105px!important;
    height: 105px!important;
}
.status-success {
    background: #71c016;
    color: #FFF;
    padding: 5px;
    border-radius: 4px;
}

.status-danger{
    background: #ff4747;
    color: #FFF;
    padding: 5px;
    border-radius: 4px;
}
.ck-editor__editable_inline {
    min-height: 175px;
}
.status-checkbox{
    width: 25px;
    height: 25px;
}
.item-photo__preview {
    width: 150px;
    height: 150px;
}
.qty-msg{
    color: green;
    position: absolute;
    top: 35px;
    FONT-WEIGHT: 700;
}
